form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    width: 20rem;
    padding: 1rem;
    margin: 0 0 1.5rem 0;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.2ch;
    box-shadow: 0 0.1rem 1.4rem 0 var(--primary_variant);
    background-color: var(--on_primary);
}
input[type="checkbox"] {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: var(--white);
    border-radius: 5px;
    border: 2px solid #555;
    cursor: pointer;
}
input[type="checkbox"]:checked {
    background: var(--primary_variant);
}
input[type="submit"] {
    margin: 1rem;
    cursor: pointer;
    border-radius: 0.5ch;
}
input[type="submit"]:hover {
    background-color: #cfcfdb;
}
input::placeholder {
    color: rgb(135, 135, 135);
}
#forgot-your-password {
    width: fit-content;
    margin-top: 0.5rem;
}
#error-message-margin-remember-me {
    margin: 0 0 1rem 0;
    text-align: center;
}
#remember-me-label {
    margin: 0rem 0 0.3rem 0;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#remember-me {
    margin: 0 0.5rem 0 0;
}
.margin-top {
    margin-top: 1rem;
}
#show-password {
    width: 2rem;
    cursor: pointer;
}
#info {
    padding: 1rem 0 0.5rem 0;
    text-align: center;
    font-size: larger;
}
