form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    width: 20rem;
    padding: 1rem;
    margin: 0 0 1.5rem 0;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0.1rem 1.4rem 0 var(--primary_variant);
    background-color: var(--on_primary);
}
input[type="checkbox"] {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: var(--white);
    border-radius: 5px;
    border: 2px solid #555;
}
input[type="checkbox"]:checked {
    background: var(--primary_variant);
}
input[type="submit"] {
    margin: 1rem;
    cursor: pointer;
    border-radius: 8px;
}
input[type="submit"]:hover {
    background-color: #cfcfdb;
}
input::placeholder {
    color: rgb(135, 135, 135);
}
#forgot_your_password {
    padding: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
}
.error_message {
    color: var(--warning);
}
#remember_me_label {
    margin: 0.5rem 0 0.5rem 0;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
}
#remember_me {
    margin: 0;
}
