#header-logo {
    width: 1300px;
    margin: 0 auto 0 auto;
}
#header-background {
    background-image: url("../images/header-background.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 7.5rem;
}
#logo {
    height: 6rem;
    padding: 0.75rem;
}
@media screen and (max-width: 1359px) {
    #header-logo {
        width: 100%;
    }
    #header-background {
        height: 4.75rem;
    }
    #logo {
        height: 3.5rem;
        padding: 0.75rem;
    }
}
@media screen and (max-width: 500px) {
    #header-background {
        background-image: url("../images/header-background-mobile.svg");
    }
}
