html {
    scroll-behavior: smooth;
}
.landing {
    width: 100%;
    * {
        display: block;
        margin-inline: auto;
    }
    .image-holder {
        z-index: 0;
        width: min(100%, 35em);
        margin-inline: auto;
        padding-block: 2em;
        position: relative;
        #doc-logo {
            box-sizing: border-box;
            padding-inline:1em;
            width: 100%;
        }
        &::after {
            font-family: "Montserrat";
            font-weight: bold;
            position: absolute;
            font-size: 4rem;
            content: "Devlog";
            color: var(--on-primary), 10%;
            filter: brightness(85%);
            top: 62%;
            right: 6%;
            right: 6%;
        }
    }
    .content {
        background: var(--on-primary);
        color: var(--black);
        max-width: 40em;
        padding-inline: 2em;
        padding-block: 1em;
        text-align: justify;
        h1,
        h2 {
            color: var(--primary-variant);
        }
        h3 {
            font-size: 1.125em;
        }
        p {
            text-indent: 2ch;
        }
        .center {
            margin-inline: auto;
            text-align: center;
        }
        a {
            position: relative;
            margin:unset;
            display: inline;
            color: var(--on-secondary);
            padding-inline-end: .5em;
            padding-inline-start: 0em;
        }
        a:hover {
            color: var(--primary-variant);
            padding-inline-start: .5em;
            padding-inline-end: 0em;
            transition: padding 300ms ease 150ms;
        }
        a::after{
            content: " ";
            position: absolute;
            top:.285em;
            opacity: 0;
        }
        a:hover::after{
            left:0;
            width: 0;
            height: 0;
            opacity: 1;
            border-block: .375em solid transparent;
            border-left: .375em solid var(--on-secondary);
            transition: opacity 150ms ease 200ms;
        }
        li {
            margin:unset;
            display: list-item;
            list-style: disc;
            text-overflow: ellipsis;
            word-wrap: break-word;
            a {
                padding-inline-end: 0em;
            }
        }
    }
    .doc-button {
        background: var(--on-secondary);
        width: fit-content;
        padding-block: 0.2em;
        padding-inline: 1em;
        margin: 1rem;
        cursor: pointer;
        border-radius: 0.5ch;
        color: var(--on-primary);
    }
    .doc-button:hover {
        background: var(--primary);
    }
    #to-top-button {
        opacity: 0;
        font-size: 0.8em;
        font-weight: bold;
        border: 2px solid var(--primary-variant);
        user-select: none;
        position: fixed;
        background: var(--secondary);
        color: var(--primary-variant);
        padding-inline: 1em;
        padding-block: 0.3em;
        border-radius: 0.5em;
        bottom: 1em;
        right: 1em;
        transition: opacity 150ms ease-in-out, bottom 300ms ease-in-out;
        &:hover {
            background: var(--primary);
            color: var(--on-primary);
            cursor: pointer;
        }
    }
}
