.user_div {
    text-align: right;
}
#username {
    background-color: var(--primary_variant);
    border: 3px solid var(--on_secondary);
    border-radius: 10px;
    font-size: larger;
    width: fit-content;
    padding: 1rem 3rem 1rem 3rem;
    margin: 0 0 0 auto;
}
.quiz_list_div {
    background-color: var(--primary_variant);
    border: 3px solid var(--on_secondary);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    width: fit-content;
    max-width: 20rem;
    /*max-height: 20rem;*/
    word-break: break-all;
}
.quiz_list_header {
    text-align: center;
    font-size: larger;
}
.quiz_list_description {
    text-align: justify;
    padding: 0 1rem 0 1rem;
}
