:root {
    --quiz_seconds: "";
}
.quiz-question {
    margin: auto;
    font-size: xx-large;
    font-weight: bold;
    background-color: var(--secondary-variant);
    padding: 0.5rem 0 0.5rem 1.5rem;
    margin: 0 0 1rem 0;
}
.quiz-answer {
    width: 90%;
    text-align: center;
    margin: auto auto 1rem auto;
    padding: 1rem;
    text-align: justify;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: var(--primary);
    background-color: var(--on-primary);
    border-radius: 1rem;
}
.quiz-answer:hover {
    background-image: linear-gradient(var(--primary), var(--primary-variant));
    color: var(--on-primary);
    cursor: pointer;
}
.selected {
    background-color: #0e988b;
    color: var(--white);
}
.is-right {
    background-color: var(--fine);
    color: var(--white);
}
.is-wrong {
    background-color: var(--warning);
    color: var(--white);
}
.display-none {
    display: none;
}
.playing-button {
    margin: 1rem 1rem 1rem auto;
    padding: 1rem;
    width: fit-content;
    border-radius: 0.5ch;
    font-size: larger;
    background-color: var(--secondary-variant);
    box-shadow: 0.5rem 0.5rem 1rem 0.1rem var(--primary-variant);
}
.playing-button:hover {
    margin-top: 1.2rem;
    padding-bottom: 0.8rem !important;
    background-color: var(--on-secondary);
    box-shadow: 0.5rem 0.5rem 1rem 0.1rem var(--primary);
    cursor: pointer;
}
#time-bar {
    height: 0.5rem;
    position: relative;
    overflow: hidden;
}
#time-bar span {
    display: block;
    height: 100%;
}
#time-bar-span-width-100 {
    width: 100%;
}
#time-bar-progress {
    animation: timeBarProgress var(--quiz_seconds) ease-out;
    animation-fill-mode: both;
}
#progress-bar {
    display: flex;
}
#progress-bar-color {
    position: relative;
    height: 2rem;
    background-image: linear-gradient(var(--primary), var(--primary-variant));
}
#progress-bar-border {
    position: absolute;
    width: 1299px;
    height: 1.9rem;
    border: solid var(--primary-variant) 1px;
}
#progress-bar-text {
    position: absolute;
    width: 1299px;
    padding: 0.16rem 0 0 0;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
#out-of-time {
    text-align: center;
    font-size: x-large;
    color: var(--warning);
}
.report {
    float: right;
    padding: 0.5rem;
    font-size: small;
    cursor: pointer;
}
.disable {
    pointer-events: none;
}
.animation-pause {
    animation-play-state: paused !important;
}
@media screen and (max-width: 1359px) {
    #progress-bar-border, #progress-bar-text {
        width: 97%;
    }
    .report {
        position: absolute;
        top: 0;
        right: 0;
    }
}
@media screen and (max-width: 650px) {
    .quiz-question, .quiz-answer {
        text-align: center;
    }
}
@keyframes timeBarProgress {
    0% {
        width: 100%;
        background-color: var(--fine);
    }
    50% {
        background-color: var(--alert);
    }
    75% {
        background-color: var(--warning);
    }
    100% {
        width: 0%;
        background-color: var(--warning);
    }
}
